h1 {
  color: darkolivegreen;
  text-align: center;
}

p {
  color:darkolivegreen;
  font-size: large;
  font-weight: bold;
}

#event {
  text-align: center;
  color: red;
  background: black;
  display: block;
  padding: .5%;
}